<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queuing Theory Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <div class="container">
        <h1>Queuing Theory Calculator</h1>
        <p>Enter Arrival Rate and Service Rate to calculate the metrics</p>
        <form method="post" action="/">
            <div class="form-group">
                <label for="interarrival_time">Waktu Antar Kedatangan (Ta):</label>
                <input type="number" step="0.01" min="0.01" id="interarrival_time" name="interarrival_time" placeholder="dalam hitungan menit" required>
            </div>
            <div class="form-group">
                <label for="service_time">Waktu Pelayanan per Pelayan (Ts):</label>
                <input type="number" step="0.01" min="0.01" id="service_time" name="service_time" placeholder="dalam hitungan menit" required>
            </div>
            {% if result %}
            <p id="error-message" style="color: red;">{{ error }}</p>
            <h2>M/M/2 Result</h2>
            <div class="result-group">
                <label for="lambda">Laju Kedatangan (λ):</label>
                <input type="text" id="lambda" value="{{ result['lambda'] }}" readonly>
            </div>
            <div class="result-group">
                <label for="mu">Laju Pelayanan per Pelayan (μ):</label>
                <input type="text" id="mu" value="{{ result['mu'] }}" readonly>
            </div>
            <div class="result-group">
                <label for="rho">Pemanfaatan Pelayan (ρ):</label>
                <input type="text" id="rho" value="{{ result['rho'] }}" readonly>
            </div>
            <div class="result-group">
                <label for="W">Waktu Rata-rata dalam Sistem (W):</label>
                <input type="text" id="W" value="{{ result['W'] }}" readonly>
            </div>
            <div class="result-group">
                <label for="Wq">Waktu Rata-rata dalam Antrian (Wq):</label>
                <input type="text" id="Wq" value="{{ result['Wq'] }}" readonly>
            </div>
            {% endif %}
            {% if steps %}
            <div class="steps">
                <h2>Langkah-langkah Perhitungan:</h2>
                <div id="mathjax-container">{{ steps|safe }}</div>
            </div>
            {% endif %}
            <button type="submit">Calculate</button>
        </form>
    </div>
</body>
</html>
